{% extends "base.html" %}
{% load static %}

{% block title %}Информация по категориям{% endblock %}


{% block main_content %}
  <h1>Категории и числа</h1>
  <ul>
  {% for cat in categories %}
    <li>
      <span>
        {% if user.is_authenticated %}
        <a class="badge badge-info" href={% url "tasks:list_by_cat" cat.slug %}>
          {{ cat.name }}: {{ cat.todos_count }}
        </a>
        {% else %}
          <div class="badge badge-info">
          {{ cat.name }}: {{ cat.todos_count }}
          </div>
        {% endif %}
      </span>
    </li>
  {% empty %}
    <li>Список задач по категориям пуст. Попробуйте добавить их из админки</li>
  {% endfor %}
  </ul>
  <br>
  <h1>Приоритеты и числа</h1>
  <ul>
    {% for prt in priorities %}
    <li>
      <span class="badge badge-info">
          {{ prt.name }}: {{ prt.todos_count }}
      </span>
    </li>
  {% empty %}
    <li>Список задач по категориям пуст. Попробуйте добавить их из админки</li>
  {% endfor %}
  </ul>
{% endblock %}